# Python cache
__pycache__/
*.py[cod]

# Modelos
shared/utils/vosk-es/
shared/utils/whisper-large-v2/

# Fichero de datos
data/

# Empaquetacion
dist/

scripts/
tmp_localappdata_staff/
tmp_localappdata_client/